/* estilos.css */

h1 {
    color: #4b4949;
}

.logo {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.logofoto {
    margin: 15px;
    width: 100px;
    height: 100px;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.boton-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 300px; /* Ancho de la imagen */
    height: 150px; /* Alto de la imagen */
    text-align: center;
}

.boton-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton-imagen p {
    font-size: 50px;
    font-weight: bold;
}
